@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

body{
    background-color: #F5F5F5;
    font-size: 0.875rem;
    color: #222222;
    -webkit-font-smoothing: antialiased;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-synthesis: none;
    line-break: strict;
}

main{
    display: block;
    unicode-bidi: isolate;
}

.geral{
    -webkit-box-pack: center !important;
    padding-top: 12px !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
}

.box{
    z-index: 0 !important;
    left: 0px !important;
    right: 0px !important;
    top: 24px !important;
    bottom: 0px !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    max-width: none !important;
    width: 100% !important;
    background-color: #FFFFFF !important;
    box-sizing: border-box !important;
}

.headerCSS{
    -webkit-box-pack: justify !important;
    -webkit-box-align: center !important;
    min-height: 48px !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex: 0 0 auto !important;
    flex: 0 0 auto !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    -webkit-justify-content: space-between !important;
    justify-content: space-between !important;
    border-bottom: 1px solid #EBEBEB !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    color: #222222 !important;
    font-size: 1rem !important;
    line-height: 1.25rem !important;
    font-weight: 700 !important;
}

.esp{
    -webkit-box-flex: 0 !important;
    -webkit-flex-grow: 0 !important;
    flex-grow: 0 !important;
    -webkit-flex-shrink: 0 !important;
    flex-shrink: 0 !important;
    -webkit-flex-basis: 16px !important;
    flex-basis: 16px !important;
}

.corpo{
    padding: 32px !important;
    box-sizing: border-box;

}

.boasVindas{
    margin-top: 8px !important;
    margin-bottom: 24px !important;
}

.boasTXT{
    font-size: 1.375rem !important;
    line-height: 1.625rem !important;
    color: #222222 !important;
    font-weight: 500 !important;
    margin-bottom: 8px !important;
}

.cont-campos{
    margin-top: 16px !important;
}

.campos{
    background-color: var(--linaria-theme_palette-bg-primary);
    position: relative;
    border-radius: 8px;
}

.primeiro-campo{
    display: flex;
}