.usuarios{
    display: inline-block;
    width: 80%;
    vertical-align: top;
}

.tabelaUsuarios{
    width: 100%;
    text-align: center;
    font-size: 20px;
    border-collapse: collapse;
}

.edit{
    width: 100%;
}

.tabelaUsuarios thead{
    background-color: #78EB78;
    color: #000000;
}

.tabelaUsuarios tbody tr:nth-child(odd){
    background-color: #f2f2f2;
}

.tabelaUsuarios tbody tr:nth-child(even){
    background-color: white;
    color: #000000;
}

.tabelaUsuarios td, .tabelaUsuarios th{
    padding: 4px;
}