@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root{
    --animation-speed:2s;
    --primary-color: #fff;
    --secondary-color: #000;
    --background-color: #212121;
    --border-radius: 0.5rem;
    --text-color: #fff;
    --font:"Rubik", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    background: var(--background-color);
    font-family: var(--font);
}

.card{
    background: var(--primary-color);
    border-radius: var(--border-radius);
    width: 200px;
    padding: 1rem;
    user-select: none;
    cursor: pointer;
}

.card img{
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.info{
    margin-top: 0.5rem;
}

.info h5{
    font-size: 1.05rem;
}

.info p{
    margin: 0.2rem 0;
    font-size: 0.9rem;
    font-weight: 400;
}

.cst_btm{
    font-size: 80px;
    color: white;
    display: grid;
    place-items: center;
    height: 0.5em;
    width: 0.5em;
    margin-left: 77%;
    margin-bottom: 3%;
    border-radius: 50%;
    border: none;
    background: hsla(250, 100%, 75%, 1);
    cursor: pointer;
    transition: 0.3s;
    animation: pulse 1.3s ease infinite;
}

.cst_btm::before{
    content: "";
    display: inline-block;
    border-left: 0.3em solid;
    border-top: 0.18em solid transparent;
    border-bottom: 0.18em solid transparent;
    margin-right: -0.08em;
}

.cst_btm:hover{
    background: hsla(250, 100%, 70%, 1);
}

@keyframes pulse{
    0%{
        box-shadow:0em 0em 0em 0em hsla(250, 100%, 75%, 1);
    }
    100%{
        box-shadow:0em 0em 0em 0.3em hsla(250, 100%, 75%, 0);
    }
}